<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>

<h2 th:text="${message}"> message </h2>

<div th:if="${#authorization.expr('isAuthenticated()')}">
    <form th:action="@{/edit}">
        <table>

            <tr>
                <th>email</th>
                <td th:text="${account.email}" id="email"></td>
            </tr>

            <tr>
                <th>username</th>
                <td><input type="text" th:value="${account.username}" id="username"></td>
            </tr>

            <tr>
                <th>password</th>
                <td><input type="password" th:value="${account.password}" id="password"></td>
            </tr>

            <tr>
                <th>role</th>
                <td><input type="text" th:value="${account.role}" id="role"></td>
            </tr>
        </table>
    </form>
</div>

<a th:href="@{/editInfo}">edit info</a>
<a th:href="@{/}">home</a>

</body>
</html>